# Base de datos
MONGODB_URI=mongodb+srv://adangodoy:7Cnu5x3hHmjDfoQ8@banco.3zn6kge.mongodb.net/Proyecto-plataforma

# JWT
JWT_SECRET=your-secret-key-here
JWT_EXPIRES_IN=1h

# Puerto de aplicación
PORT=3000

# Entorno
NODE_ENV=development

# Frontend URL (para CORS)
FRONTEND_URL=http://localhost:4200

# Email (opcional - para notificaciones futuras)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-password

# Sistema de notificaciones
NOTIFICATION_RETENTION_DAYS=30

#GOOGLE
GOOGLE_CLIENT_ID=90627838122-cv4i0d2124tgm1cbh06cbpotuu128b8v.apps.googleusercontent.com

# Logs
LOG_LEVEL=debug